[varilink-wordpress
{%- if wp_server_name is defined %}_{{ wp_server_name }}{% endif %}]

enabled  = true
filter   = varilink-wordpress

{% if wp_server_name is defined %}
logpath  = /var/log/nginx/{{ wp_server_name }}-access.log
{%- else %}
logpath  = /var/log/nginx/access.log
{%- endif %}

maxretry = 20
findtime = 10m
bantime  = 1h

action   = varilink-noop
