[varilink-wordpress-red_{{ wp_server_name }}]

enabled  = true
filter   = varilink-wordpress-red

logpath  = /var/log/nginx/{{ wp_server_name }}-access.log

maxretry = 1
findtime = 10m
bantime  = 1h

action   = varilink-noop
