dc_eximconfig_configtype='smarthost'
dc_other_hostnames='{{ home_domain }}'
dc_local_interfaces='
{%- if email_local_interfaces is defined %}
{{- email_local_interfaces }}
{%- endif %}
'
dc_readhost=''
dc_relay_domains=''
dc_minimaldns='false'
dc_relay_nets='
{%- if email_relay_nets is defined %}
{{- email_relay_nets }}
{%- endif %}
'
dc_smarthost='
{%- if email_smarthost is defined %}
{{- email_smarthost }}
{%- endif %}
'
CFILEMODE='644'
dc_use_split_config='
{%- if email_use_split_config is defined %}
{{- email_use_split_config }}
{%- else %}
false
{%- endif %}
'
dc_hide_mailname='false'
dc_mailname_in_oh='true'
dc_localdelivery='maildir_home'
