local_name imap.{{ domain.name }} {
{% if email_uses_ca %}
  ssl_cert = </etc/letsencrypt/live/{{ domain.name }}/cert.pem
  ssl_key = </etc/letsencrypt/live/{{ domain.name }}/privkey.pem
{% else %}
  ssl_cert = </usr/local/etc/certs/{{ domain.name }}/cert.pem
  ssl_key = </usr/local/etc/certs/{{ domain.name }}/key.pem
{% endif %}
}
