server {

  listen      80;
  server_name	{{ wp_server_name }};

  location /.well-known/acme-challenge/ {
    root /var/www/{{ wp_server_name }}/html;
    auth_basic off;
    allow all;
    try_files $uri =404;
    break;
  }

{%
  if wp_uses_ssl is defined and
     wp_uses_ssl and
     certbot_certificate_installed == 'yes'
%}
  location / {
    return 301 https://{{ wp_server_name }};
  }

}

server {

  listen      443 ssl;
  server_name {{ wp_server_name }};

  ssl_certificate /etc/letsencrypt/live/
  {{- wp_server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/
  {{- wp_server_name }}/privkey.pem;

{% endif %}

  rewrite_log on;
{% if wp_client_max_body_size is defined %}
  client_max_body_size {{ wp_client_max_body_size }};
{% endif %}
  root /var/www/{{ wp_server_name }}/html;
  index index.html index.php;
  access_log /var/log/nginx/{{ wp_server_name }}.uk-access.log;
  error_log /var/log/nginx/{{ wp_server_name }}.uk-error.log;

#  location ~ ^\/(\w+\/)*\w+\.php(\/\w+)*$ {

    # .php file match
    # \/        The root directory
    # (\w+\/)*  Zero or more folders
    # \w+\.php  A php file name
    # (\/\w+)   Zero or more folders

# Check out the nginx prescribed way of doing this at:
# https://www.nginx.com/resources/wiki/start/topics/recipes/wordpress/

	location ~ \.php$ {

    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_pass php-fpm;

	}

  location / {

    try_files $uri $uri/ =404;

  }

}
