local_name imap.{{ domain_name }} {
{% if mail_uses_ca %}
  ssl_cert = </etc/letsencrypt/live/{{ domain_name }}/cert.pem
  ssl_key = </etc/letsencrypt/live/{{ domain_name }}/privkey.pem
{% else %}
  ssl_cert = </etc/dovecot/domains/{{ domain_name }}/cert.pem
  ssl_key = </etc/dovecot/domains/{{ domain_name }}/key.pem
{% endif %}
}
