{# Default skeleton hosts file installed in Debian Buster #}
127.0.0.1	localhost
::1	localhost ip6-localhost ip6-loopback
fe00::0	ip6-localnet
ff00::0	ip6-mcastprefix
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
{{ hostvars[inventory_hostname].ansible_host }} {{ inventory_hostname }}

{# Added for dnsmasq to use #}
# For use by dnsmasq
{% for hostname in groups['all'] | sort %}{# hostnames loop #}
{% if hostvars[hostname].ansible_host is defined %}
{{ hostvars[hostname].ansible_host }} {{ hostname }}
{%- for rolemap in rolemaps %}{# rolemaps loop #}
{%- if rolemap['hosts'] == hostname %}
{%- for role in rolemap['roles'] %}{# roles loop #}
{%- if role == 'backup-director' %}
 bacula-dir
{%- elif role == 'backup-storage' %}
 bacula-sd
{%- elif role == 'calendar' %}
 caldav
{%- elif role == 'email-internal' %}
 imap smtp
{%- endif %}
{% endfor %}{# roles loop #}
{%- endif %}
{% endfor %}{# rolemaps loop #}

{% endif %}
{% endfor %}{# hostnames loop #}
