Storage {                             # definition of myself
  Name = {{ backup_storage_name }}
  SDPort = 9103                  # Director's port
  WorkingDirectory = "/var/lib/bacula"
  Pid Directory = "/run/bacula"
  Plugin Directory = "/usr/lib/bacula"
  Maximum Concurrent Jobs = 20

  # We don't specify an SDAddress
  # The Director connects on localhost
  # Remote clients connect on the external interface

}

#
# List Directors who are permitted to contact Storage daemon
#
Director {
  Name = {{ backup_director_name }}
  Password = "{{ backup_storage_director_password }}"
}
Director {
  Name = {{ backup_monitor_name }}
  Password = "{{ backup_storage_monitor_password }}"
  Monitor = yes
}

#
# Devices supported by this Storage daemon
# To connect, the Director's bacula-dir.conf must have the
#  same Name and MediaType.
#

Device {
  Name = FileStorage
  Media Type = File
  Archive Device = "{{ backup_archive_media_directory }}"
  LabelMedia = yes
  Random Access = yes
  AutomaticMount = yes
  RemovableMedia = no
  AlwaysOpen = no
}

{% if backup_linked_to_dropbox %}
Device {
  Name = FileStorageCopy
  Media Type = File
  Archive Device = /var/lib/bacula/Dropbox/bacula
  LabelMedia = yes;                   # lets Bacula label unlabeled media
  Random Access = Yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
}
{% endif %}

Messages {
  Name = Standard
  director = {{ backup_director_name }} = all
}
