server {

  listen      80;
  listen      [::]:80;
  server_name
{%- if wordpress_site_subdomain == 'www' %}
 {{ domain_name }}
{% endif %}
 {{ wordpress_site_server_name }};

  access_log /var/log/nginx/{{ wordpress_site_server_name }}-access.log;
  error_log /var/log/nginx/{{ wordpress_site_server_name }}-error.log;

{%- if wordpress_site_uses_ssl and certbot_certificate_installed %}


  location /.well-known/acme-challenge/ {
    root      /var/www/{{ wordpress_site_server_name }}/html;
    try_files $uri =404;
    break;
  }

  location / {
    return 301 https://{{ wordpress_site_server_name }}$request_uri;
  }

}

{%- if wordpress_site_subdomain == 'www' %}

server {

  listen      443 ssl;
  listen      [::]:443 ssl;
  server_name {{ domain_name }};

  access_log /var/log/nginx/{{ wordpress_site_server_name }}-access.log;
  error_log /var/log/nginx/{{ wordpress_site_server_name }}-error.log;

  ssl_certificate /etc/letsencrypt/live/
  {{- wordpress_site_server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/
  {{- wordpress_site_server_name }}/privkey.pem;

  location / {
    return 301 https://{{ wordpress_site_server_name }}$request_uri;
  }

}
{% endif %}{# wordpress_site.subdomain == 'www' #}


server {

  listen      443 ssl;
  listen      [::]:443 ssl;
  server_name {{ wordpress_site_server_name }};

  access_log /var/log/nginx/{{ wordpress_site_server_name }}-access.log;
  error_log /var/log/nginx/{{ wordpress_site_server_name }}-error.log;

  ssl_certificate /etc/letsencrypt/live/
  {{- wordpress_site_server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/
  {{- wordpress_site_server_name }}/privkey.pem;

{% endif %}


  location / {
    proxy_pass http://127.0.0.1:{{ wordpress_site_reverse_proxy_pass_port }};
    proxy_set_header Host {{ wordpress_site_server_name }};
    proxy_set_header X-Real-IP $remote_addr;
  }

}
