server {

  listen      80;
  listen      [::]:80;
  server_name
{%- if wp_subdomain == 'www' %}
 {{ domain_name }}
{%- endif %}
 {{ wp_server_name }};

  access_log /var/log/nginx/{{ wp_server_name }}-access.log;
  error_log /var/log/nginx/{{ wp_server_name }}-error.log;

{%- if wp_uses_ssl and wp_uses_ca %}

  location /.well-known/acme-challenge/ {
    root      /var/www/{{ wp_server_name }}/html;
    try_files $uri =404;
    break;
  }

{%- endif %}

{%-
  if ( wp_uses_ssl and wp_uses_ca and certbot_certificate_installed )
  or ( wp_uses_ssl and not wp_uses_ca )
%}

  location / {
    return 301 https://{{ wp_server_name }}$request_uri;
  }

}

{%- if wp_subdomain == 'www' %}

server {

  listen      443 ssl;
  listen      [::]:443 ssl;
  server_name {{ domain_name }};

  access_log /var/log/nginx/{{ wp_server_name }}-access.log;
  error_log /var/log/nginx/{{ wp_server_name }}-error.log;

{% if wp_uses_ca %}
  ssl_certificate /etc/letsencrypt/live/
  {{- wp_server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/
  {{- wp_server_name }}/privkey.pem;
{%- else %}
  ssl_certificate /etc/ssl/certs/
  {{- wp_server_name | replace('.', '_') }}.pem;
  ssl_certificate_key /etc/ssl/private/
  {{- wp_server_name | replace('.', '_') }}.pem;
{%- endif %}

  location / {
    return 301 https://{{ wp_server_name }}$request_uri;
  }

}
{% endif %}{# wp_subdomain == 'www' #}


server {

  listen      443 ssl;
  listen      [::]:443 ssl;
  server_name {{ wp_server_name }};

  access_log /var/log/nginx/{{ wp_server_name }}-access.log;
  error_log /var/log/nginx/{{ wp_server_name }}-error.log;

{% if wp_uses_ca %}
  ssl_certificate /etc/letsencrypt/live/
  {{- wp_server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/
  {{- wp_server_name }}/privkey.pem;
{%- else %}
  ssl_certificate /etc/ssl/certs/
  {{- wp_server_name | replace('.', '_') }}.pem;
  ssl_certificate_key /etc/ssl/private/
  {{- wp_server_name | replace('.', '_') }}.pem;
{%- endif %}

{% endif %}


  location / {
{% if wp_reverse_proxy_host is not defined %}
    proxy_pass http://127.0.0.1:{{ wp_reverse_proxy_pass_port }};
{% else %}
    proxy_pass http://
    {{- ansible_default_ipv4.address }}:
    {{- wp_reverse_proxy_pass_port }};
{% endif %}
    proxy_set_header Host {{ wp_server_name }};
    proxy_set_header X-Real-IP $remote_addr;
  }

}
