# Accept messages of any line length
IGNORE_SMTP_LINE_LENGTH_LIMIT = 1

# Require TLS for connection to the mail_external smarthost
REMOTE_SMTP_SMARTHOST_HOSTS_REQUIRE_TLS = *

# Require the smtps protocol for connection to the mail_external smarthost
REQUIRE_PROTOCOL = smtps

{% if not mail_uses_ca %}
# Don't verify the SSL certificate of the mail_external smarthost because it
# will be using a self-signed certificate. A better approach here would be to
# fetch the self-signed certificate and configure exim to trust it.
REMOTE_SMTP_SMARTHOST_TLS_VERIFY_HOSTS = !*
{% endif %}
