dc_eximconfig_configtype='{{ mta_configtype }}'
dc_other_hostnames='{{ mta_other_hostnames }}'
dc_local_interfaces='{{ mta_local_interfaces }}'
dc_readhost='{{ mta_readhost }}'
dc_relay_domains=''
dc_minimaldns='false'
dc_relay_nets='{{ mta_relay_nets }}'
dc_smarthost='
{%- if mta_smarthost_hostname is defined %}
{{ mta_smarthost_hostname }}
{%- if mta_smarthost_port is defined %}
::{{ mta_smarthost_port }}
{%- endif %}
{%- endif %}
'
CFILEMODE='644'
dc_use_split_config='{{ mta_use_split_config }}'
dc_hide_mailname='{{ mta_hide_mailname }}'
dc_mailname_in_oh='true'
dc_localdelivery='{{ mta_localdelivery }}'
