server {

	listen 80;
	root /var/www/backup.{{ domain_name}}/public;
	index index.php;
	server_name backup.{{ domain_name }};

	location / {
		try_files $uri $uri/ =404;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/run/php/php7.4-fpm.sock;
	}

}
