{#
This template file is based on a copy of a bacula-fd.conf file generated as a
result of installing the bacula-fd package in Debian Stretch, Buster or
Bullseye.
#}
#
# List Directors who are permitted to contact this File daemon
#
Director {
  Name = {{ backup_director_name }}
  Password = "{{ backup_client_director_password }}"
}

#
# Restricted Director, used by tray-monitor to get the status of the file daemon
#
Director {
  Name = {{ backup_monitor_name }}
  Password = "{{ backup_client_monitor_password }}"
  Monitor = yes
}

#
# "Global" File daemon configuration specifications
#
FileDaemon {                          # this is me
  Name = {{ inventory_hostname }}
  FDport = 9102                  # where we listen for the director
  WorkingDirectory = /var/lib/bacula
  Pid Directory = /run/bacula
  Maximum Concurrent Jobs = 20
  Plugin Directory = /usr/lib/bacula
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = {{ backup_director_name }} = all, !skipped, !restored
}
