{%- if webhost.reverse_proxy_pass_port is defined %}
<VirtualHost {{ ansible_host }}:{{ webhost.reverse_proxy_pass_port }}>
{%- else %}
<VirtualHost {{ ansible_host }}:{{ domain.reverse_proxy_pass_port }}>
{%- endif %}

  ServerName {{ fqdn }}
  # TODO: Parameterise the server admin email address
  ServerAdmin david.williamson@varilink.co.uk
  DocumentRoot /var/www/{{ fqdn }}/html
  ErrorLog ${APACHE_LOG_DIR}/{{ fqdn }}-error.log
  CustomLog ${APACHE_LOG_DIR}/{{ fqdn }}-access.log combined

  <Directory "/var/www/{{ fqdn }}/html">
    AllowOverride All
  </Directory>

</VirtualHost>
